@import "theme";

.builds {
  .build-pager {
    background-color: #f9f9f9;
    padding-top: 5px;
    padding-bottom: 5px;
    .page-number {
      margin-right: 10px;
      margin-left: 10px;
      color: #777;
      font-weight: bold;
    }
    .disabled {
      opacity: 0.5;
    }
  }
  table {
    td.status {
      i {
        width: 100%;
        text-align: center;
      }
    }
  }
  .sleep-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .backdrop {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 999;
      background-color: black;
      opacity: 0.4;
    }
    .content {
      position: fixed;
      width: 300px;
      top: 40%;
      left: 40%;
      border: 1px solid @brand-primary;
      padding: 20px;
      z-index: 1000;
      background-color: white;
      .actions {
        margin-top: 10px;
        font-weight: bold;
      }
    }
  }
}
